


<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/formdesign.css" rel="stylesheet" />
<link href="~/Content/Login.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/Content/Login.css">
<script src="~/Scripts/jquery-1.12.4.min.js"></script>

<div class="container" style="padding: 50px 0;">
    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            @using (Html.BeginForm("UpdatePassword", "Register", FormMethod.Post))
            {
                var msg = @ViewBag.message;
            <fieldset>
                <h2>Reset Password</h2>
                <hr class="colorgraph">
                <div class="form-group">
                    <input type="text" name="username" id="username1" class="form-control input-lg" placeholder="Username" required />
                    <span id="message"></span>
                </div>
               
                <div class="form-group">
                    <input type="password" name="password" id="password" class="form-control input-lg" placeholder="New Password" required />
                </div>
                <div class="form-group">
                    <input type="password" name="password1" id="password1" class="form-control input-lg" placeholder="Re-enter New Password" required />
                    <span id="message1"></span>
                </div>

                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <input type="submit" class="btn btn-lg btn-success btn-block" value="Submit">
                    </div>


                </div>

                <div class="row">
                    <h3>@msg</h3>
                </div>
            </fieldset>
            }
        </div>
    </div>
</div>




<script>
    $("#username1").change(function () {
        debugger;
        var username = $("#username1").val();
        $.ajax({
            url: '/Register/CheckUsername',
            method: "post",
            type: "application/json",
            data: { username: username },
             success: function (response) {
                 var message = $("#message");
            
                message.html(null);
                if (response) {

                    message.css("color", "green");

                }
                else {
                    message.css("color", "red");
                    message.html("Email doesnot exist!");
                    //message.html = null;
                   
                    ////message.html("Email is available");
                }
            }
        });
    });

    $("#password1").change(function () {
        debugger;
        var message = $("#message1");
        var password = $("#password").val();
        var password1 = $("#password1").val();
        if (password == password1) {
            password1.css("color", "green");
        }
        else {
            message.css("color", "red");
            message.html("Passwords donot match!!");
        }
    });

</script>